body{
  background-image:url("img/carpenter.jpg");
  background-size:cover;
  height: 100vh;
}

.main{
  background-color: white;
  margin:50px auto;
  padding:10px 15px;
  border:solid 5px rgb(231, 108, 129);
  border-radius: 10px;
  max-width:1000px;
}

.container-calculator{
 max-width:1000px;
 font-family: 'Source Sans 3', sans-serif;
 font-size: 22px;
 margin:auto;
}

.title{
  font-weight: bold;
  color:#39ace6;
  text-align: center;
  font-family: 'Source Sans 3', sans-serif;
}

p{
  font-family: 'Source Sans 3', sans-serif;
  text-align: center;
}

h4{
  margin-top:20px;
  font-family: 'Source Sans 3', sans-serif;
}

.button1,
.button2{
  width:110px;
  height: 45px;
  border:none;
  border-radius: 2px;
  background-color: #e9a527;
  color:white;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top:-30px;
  font-size:15px;
}

@media (max-width:500px){
  .container-calculator{
    font-size:18px;
  }
}